.banner {
  background-color: #32CD32; /*verde limão */
  color: white;
  background-size: cover;
}

.header {
  display: flex;
  align-items: center;
  justify-content:left;

}

.text-center{
  font-size: 26px;
  justify-content: center;
}

.card img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


.card-title{
  font-size: 18px;
  display: flex;
  justify-content: left;
}

.hidden-section {
  display: none; /* Oculta a seção inicialmente */
}

.hidden-oculto{
  display: none;
}

.header img {
  margin-right: 10px; /* Espaçamento entre a logo e o título */
  width: 10%;
}

.nav-link{
  display: flex;
  font-size: 20px;
  justify-content:right;
}
